table {
    caption-side: unset;
    border-collapse: unset;
    text-align: center;
    background-color: #22223b;
}

.table {
    width: 100%;
    vertical-align: middle;
    margin: 0 auto;
    border: 2px solid #22223b;
    border-radius: 10px;
}

.table>:not(caption)>*>* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 8px 10px;
    user-select: none;
    text-transform: uppercase;
    background-color: #22223b;
    color: #c9ada7;
    vertical-align: middle;
    text-align: center;
}

.table td {
    text-transform: capitalize;
    background-color: #c9ada7;
    color: #22223b;
}

.tableFixHead thead th{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

th,
td {
    border: 1px solid #22223b;
    border-radius: 8px;
}

tbody {
    overflow: scroll;
}

.tableFixHead {
    overflow: auto;
    height: 354px;
}

/* .tableFixHead thead {
    background-color: #22223b;
} */

.tableFixHead thead th {   
    position: sticky;
    top: 0;
    z-index: 1;
}

::-webkit-scrollbar{
    display: none;
}

.btn-eye{
    width: 100%;
    font-size: 18px;
    color: blue;
    transition: all .4s ease;
}

.btn-update{
    width: 100%;
    font-size: 18px;
    color: yellow;
    transition: all .4s ease;
}

.btn-delete{
    width: 100%;
    font-size: 18px;
    color: red;
    transition: all .4s ease;
}